
/*svg elements*/

.draggable {
	cursor: move;
}

svg#scene {
	cursor: -webkit-grab;
	cursor: grab;
}

#container {
	opacity : .6;
}

.gvertex {
  fill: none;
}

.vertexCircleRotate {
	opacity: 0;
	fill: white; // fill is mandatory to event trigger
}

.vertexCircle {
	fill-opacity: 1;
	stroke-width: 2px;
	stroke: grey;
}

.pinned {
  stroke-width: 3px;
  stroke: black;
}

.point {
	fill: none;
	stroke-width: 0px;
	stroke: none;
	pointer-events: none;
}
.point-displayed {
	fill: lightgreen;
	stroke-width: 3px;
	stroke: lightgreen;
	cursor: pointer;
	pointer-events: auto;
}
.point-displayed:hover {
	fill: darkgreen;
	stroke-width: 4px;
	stroke: darkgreen;
}
.dragging {
	fill: yellow;
	stroke-width: 1px;
	stroke: black;
}

.focused {
  fill: steelblue;
  stroke: black;
}

.edgeLbl  {
	font-size: .6rem;
	fill: black;
	pointer-events: none;
	user-select: none;
	text-anchor: middle;
}

path {
	fill: none;
	stroke-width: 1px;
	stroke: black;
	pointer-events: none;
}
.hyperbolic {
	pointer-events: visible;
	cursor: help;
}
.planar {}
.spheric{}
	
path.selected{
	stroke-width: 3px;
}


.arc{
	stroke-width: 0px;
	opacity: .8;
	pointer-events: auto;
}
.arc:hover{
	opacity: 1;
}

.notdisplayed{
  opacity: 0;
	pointer-events: none;
}
