/* CodeMirror specific to sandbox*/
.sb-cm-drop { background-color: #ff7; }
.sb-cm-insert { background-color: #7bff77;     color: black;}
.CodeMirror-fullscreen {font-size: large;}
.CodeMirror-hints {z-index: 100};
/*START rewrites/add some classes from default.css*/
.bhb {font:small; color: #777;}
.notbhb {color: #007bff; font-weight: 500}
div.link{ /* border of an amendment*/
  /*border-style: solid;
  border-color: #990000;
  border-width: thin;*/
}
span[data-elt="link"] {color: #777;}
.av {color:darkslateblue; font-weight:500;}
.m {color:#777; font-weight:200;}
.t {color: mediumblue; font-weight:200;}
.e   {
	margin-left:1rem;
	text-indent:unset;
	margin-right:1rem;
	flex-grow: 2;
	width: 100%;
}
/*rewrites some classes from default.css*/
/*END rewrites some classes from default.css*/
/* text mode SVG */
.icon-edit{
	float: left;
	margin-top: .3rem;
	width: 1.5rem;
	height: .75rem;
	user-select: none;
}
div.entagpadding{ /*To match the indentation of the edit icon*/
	margin-left: 1.5rem;
}
div.tagnopathpadding{ /*To match the indentation of the edit icon*/
	text-indent: 1.5rem;
}
.icon-edit:hover{
	background-color: #007bff;
}
.icon-edit-placeholder{
	float: left;
	margin-top: .375rem;
}
div.wraped{
	height: 1.2em;
	overflow: hidden;
	font-style: italic;
  font-weight: lighter;
}
div.wraped > div::after{
	content:"[...]";
	color:darkgrey;
}
div.unwraped{
}
/*div.e:hover{
	border-left-color: darkgreen;
	border-left-width: thin;
	border-left-style: solid;
	border-bottom-color: darkgreen;
	border-bottom-width: thin;
	border-bottom-style: solid;
}*/
.deployed {
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.on_symbol {
	color:magenta;
	font-style: italic;
}
.on_clock {
	color:green;
	font-style: italic;
}
.bhb_lock {
	font-size: .2rem;
	font-family: monospace;
	display: inline-block;
	word-break: break-all;
	width: 8.4rem;
	color: darkgreen;
}
nav.placeholder_amend_hidden {
	display: none;
}

nav.placeholder_amend_display {
	color: #990000;
}

/* END text mode svg */

*, ::after, ::before {
    box-sizing: border-box;
}

/* layout */
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Ubuntu","Roboto","Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 1rem;
	font-weight: 400;
	height: 100%;
	line-height: 1.5;
  text-align: left;
	background-color: #cddc39; /*#9e9e9e*/
	/*background: linear-gradient(to bottom, #000000 0%,#cddc39 .5%,#cddc39 100%);*/
}

.left {
	float: left;
}

.right {
	float: right;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .375rem;
		margin-bottom: 0;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: .375rem;
    margin-bottom: 0;
}
.h1, h1 {
    font-size: 2.5rem;
}
.h2, h2 {
    font-size: 2rem;
}
.h3, h3 {
    font-size: 1.75rem;
}
.h4, h4 {
    font-size: 1.5rem;
}
.h5, h5 {
    font-size: 1.25rem;
}
.h6, h6 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: .5rem;
}
i, cite, em, var, address, dfn {
    font-style: italic;
}
.small, small {
    font-size: 60%;
    font-weight: 200;
}
.text-muted {
    color: #6c757d!important;
}
.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}
.flex-row {
    -webkit-box-orient: horizontal!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
}
.flex-column {
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}

.shadow {
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

span.braille-sign {
	    width: 8.4em;
	    height: 5.5em;
	    word-wrap: break-word;
	    line-height: 1.3;
	    display: block;
	    margin-left: 7.2rem;
	    background-color: #8bc34a;
}

#toolboxes.graph {
}

#toolboxes.text {
	/*z-index: 500;*/
	position: fixed;
	width:99%;
	top:10px;
	height:70px;
	display: flex;
	flex-direction: row;
	flex-wrap:nowrap;
	justify-content:space-between;
	align-items: baseline;
	align-content: flex-start;
}

div#explorer{
	order:10;
	flex-grow: .1;
}
div#perspective{
	order:20;
	flex-grow: .1;
}
div#amendment{
	order:30;
	flex-grow: .1;
}
div#text{
	order:40;
	flex-grow: .5;
}

#workspace.graph {
  height: 100%
}
#workspace.text {
  padding-left: 3.5rem;
	padding-top: 100px;
}

div.upper-left {
	position: absolute;
	top:10px;
	left:10px;
	width:200px;
}
div.upper-right {
	position: absolute;
	top:10px;
	right:10px;
	width:300px;
}
div.lower-left {
	position: absolute;
	bottom:10px;
	left:10px;
	width:200px;
}
div.lower-right {
	position: absolute;
	bottom:10px;
	right:10px;
	width:300px;
}
div.nav-upper {
  flex-basis:200px;
}

#text {
  flex-basis:300px;
}

.zoom11 {
    transform: scale(1.1);
		opacity:.5;
}

div#workspace > div#bhb-text {
	display:flex;
}

div#mini-workspace > div#bhb-text {
	overflow-y: scroll;
	height: 20em;
	line-height: 1;
	font-size: small;
	font-weight: 100;
}

h6[data-bhbmode=text] {
	position:absolute;
}

div#mini-workspace[data-bhbmode=text] {
	height: 25em;
}

div#text-pointnavtool[data-bhbmode=text]{
	bottom: -22em;
	position: absolute;
}

div#bhb-text-perspective-icon[data-bhbmode=graph]{
	content:url(img-eye-optim-start.svg);
	height: 1rem;
	float: left;
	position: relative;
	top: -1px;
}

div#bhb-text-perspective-icon[data-bhbmode=text]{
	content:url(img-eye-optim-start.svg);
	height: 2rem;
	float: left;
	position: relative;
	left: -1rem;
	top: -.2rem;
}

/*modal ------------------------------ */
div.hidden{
	display: none!important;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal {
    z-index: 1072;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: block; /*bootsprap diff*/
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(33,33,33,.6); /* Black w/ opacity */
}

@media (min-width: 576px)
.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}
.modal-dialog {
    margin: 15% auto; /* 15% from the top and centered */
    max-width: 50%;
    min-width: 25rem;
    pointer-events: none;
}
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}
.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}
.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

div.sign {
		max-width: 20em;
}


/* divs / toolbox ------------------------------ */
div.render-scene {
	width: 100%;
	height: 100%;
}

svg#scene {
	width: 100%;
	height: 100%;
}

.toolbox {
	padding: 5px;
	z-index:50;
	opacity:.8;
	background-color: white;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.toolbox-header > p {
	font-size: .9rem;
	font-weight: bold;
	margin-top: .5em;
	user-select: none;
}

div.cols-two {
	column-count: 2;
	column-gap: 5px;
  /*column-rule: 1px solid coral;*/
}

div.closed > .toolbox-header {
	background-image: url(img-icon-open.svg);
	background-repeat: no-repeat;
	background-position: right;
	background-size: auto 1rem;
}

div.opened > .toolbox-header {
	background-image: url(img-icon-close.svg);
	background-repeat: no-repeat;
	background-position: right;
	background-size: auto 1rem;
}

.toolbox-body > p {
	font-size: .8rem;
}

 div.closed > .toolbox-body{
	display: none;
}
/*controls ------------------------------ */
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.form-check-input {
    position: absolute;
    margin-top: 1px;
    margin-left: -1.25rem;
    width: 1rem;
    height: 1rem;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, input {
    overflow: visible;
}

label {
    display: inline-block;
    /*margin-bottom: .5rem;*/
}

/*user form ------------------------------ */
form {
	font-size: .7rem;
}

textarea#amendment-editzone{
	line-height: 1.2;
	font-size: small;
	font-weight: 100;
	font-family: monospace;
	color: black;
}

.form-control {
    display: block;
    width: 100%;
		width: -webkit-fill-available;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

textarea {
    overflow: auto;
    resize: vertical;
}

/*error div management ------------------------------ */
.alert {
    position: relative;
    padding: .5rem .7rem;
    margin-bottom: .7rem;
    border: 1px solid transparent;
    border-radius: .25rem;
		font-size: .7rem;
		display: none;
}
.alert-success {
		display: block;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-warning {
		display: block;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert-danger {
		display: block;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/*btn ------------------------------ */
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

button {
	margin: 0;
	margin-top: 5px;
	font-family: inherit;
}

button, input[type="submit"], .btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: .8rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	margin-right: 5px;
	text-decoration: none !important;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #5bc0de;
}

.btn-info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}
.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.btn-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}

.btn.disabled, .btn:disabled {
    opacity: .65;
}

	/*badges ------------------------------ */
	.badge-planar {
	    color: #fff;
	    background-color: #28a745;
	}
	.badge-spheric {
		color: darkgrey;
		background-color: lightgrey;
	}
	.badge-hyperbolic {
		color: #fff;
		/*background-color: #6c757d;*/
		background-color: #007bff;
	}
	.badge-pill {
		padding-right: .6em;
		padding-left: .6em;
		border-radius: 10rem;
	}
	.badge {
	    margin: 1px;
	    display: inline-block;
	    padding: .25em .4em;
	    font-size: 75%;
	    font-weight: 400;
	    line-height: 1;
	    text-align: center;
	    white-space: nowrap;
	    vertical-align: baseline;
	    border-radius: .25rem;
	}
	.badge-clickable {
		cursor:pointer;
	}
	.badge-notif {
	    margin-left: 1px;
	    vertical-align: super;
	    color: white;
	    background-color: inherit;
	}
	.badge.selected , .badge-clickable:hover {
			background-color: black;
	    color: white;
	}

/* Navbar ------------------------------ */
.navbar-text-node {
	position:absolute;
	/*opacity:.5;*/
	margin-top: -1rem;
	margin-left: -4.5rem;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	align-content: flex-start;
}
.navbar-text-node-elt {
	flex-basis: 5rem;
	flex:none;
}
.placeholder_insert{
	position: absolute;
	margin-top: -1.5rem;
	margin-left: 1rem;
	color:red;
	font-size: 2rem;
	font-weight: bold;
}
/* Misc*/
	#popup {
		width: 160px;
		position:fixed;
		top:30%;
		left:15%;
	}
	#popup > form {
		font-size: initial;
	}

	#login-logo {
		position: fixed;
		top: 10px;
		left: 15%;
		width: 160px;
	}

	#universe { /* fix : find a way to have 100% of the browser workspace without scroll bars!!! */
		width: 99%;
		height: 99%;
		padding-right: 1px;
		padding-left: 1px;
		margin-right: auto;
		margin-left: auto;
		z-index:10;
	}

	/* slider ------------------------------ */

	label.slider {
		display: inline-block;
		width: 240px;
		text-align: right
	}

	.ticks {
	  font-size: .5rem;
	  font-weight: 100;
	  pointer-events: none;
	  user-select: none;
	}

	.track,
	.track-inset,
	.track-overlay {
	  stroke-linecap: round;
	}

	.evts {
	  stroke: none;
	  fill: #990000;
	  opacity:.5;
	}

	.track {
	  stroke: black;
	  stroke-width: 3px;
	}

	.track-overlay {
	  pointer-events: stroke;
	  stroke-width: 50px;
	}

	.sel-range{
	  stroke: #8BC34B;
	  stroke-width: 3px;
	  cursor: grab;
	}

	.sel-range:active{
	  stroke: tomato;
	  stroke-width: 4px;
	}

	.ghandle {
	  fill: none;
	}

	.handle {
	  fill: #8BC34B;
	  stroke: none;
	  cursor: grab;
	}
	.handle:hover{
		fill: #B2EBF2;
	}
	.handle.active {
	  fill: black;
	  cursor: grabbing;
	}
	circle.handle-label {
	  fill: black;
	  stroke: none;
	  opacity: .8;
	}
	polygon.handle-label {
	  fill: black;
	  stroke: none;
	  opacity: .8;
	}
	text.handle-label {
	  font-size: .6rem;
	  font-weight: normal;
	  fill:white;
	}

	/*svg elements for graphical mode ------------------------------ */

	.draggable {
		cursor: move;
	}

	svg#scene {
		cursor: -webkit-grab;
		cursor: grab;
	}

	#container {
		opacity : .8;
	}

	.gvertex {
	  fill: none;
	}

	.vertexCircleRotate {
		opacity: 0;
		fill: white; // fill is mandatory to event trigger
	}

	.vertexCircle {
		fill-opacity: 1;
		stroke-width: 1px;
		stroke: black;
	}

	.pinned {
	  /*stroke-width: 2px;
	  stroke: black;*/
	}

	.point {
		fill: none;
		stroke-width: 0px;
		stroke: none;
		pointer-events: none;
	}
	.point-displayed {
		fill: none;
		stroke-width: 0px;
		stroke: none;
		/*cursor: pointer;
		pointer-events: auto;*/
	}
	.point-displayed:hover {
		fill: darkred;
		stroke-width: 4px;
		stroke: darkred;
	}
	circle.viewed {
		/*fill: black;
		stroke-width: 4px;
		stroke: black;*/
	}
	.dragging {
		fill: yellow;
		stroke-width: 1px;
		stroke: black;
	}

	.focused {
	  fill: steelblue;
	  stroke: black;
	}

	.edgeLbl  {
		font-size: .6rem;
		fill: black;
		pointer-events: visible;
		cursor: help;
		user-select: none;
		text-anchor: middle;
	}

	path {
		fill:none;
		stroke-width: 1px;
		stroke: black;
		pointer-events: none;
	}

	path.notselectable {
		fill:none;
		pointer-events: none;
		user-select: none;
		cursor: none;
	}
	.hyperbolic {
		pointer-events: visible;
		cursor: help;
		fill:none; /*fill to see the selection zone*/
	}
	.planar {
		pointer-events: visible;
		cursor: help;
	}
	.spheric{
		pointer-events: visible;
		cursor: help;
	}

	path.bhbLink {
		stroke: #990000;
	}
	.marker-bhbLink {
		stroke: #990000;
	}

	path.selected {
		stroke-width: 3px;
	}
	path.viewed {
		stroke:#007bff;
		/*stroke-width: 3px;*/
	}
	.marker-viewed {
		stroke: #007bff;
	}

	path.edited {
		stroke-width: 2px;
		opacity: 1;
	}

	.notdisplayed{
	  opacity: 0;
		pointer-events: none;
	}

	.marker-std {
		stroke: black;
	}

	.graphAmendPlaceholder {
		stroke: #990000;
		fill: #990000;
		opacity: .8;
		cursor: crosshair;
	}

	/*CODEMIRROR ------------------------------ */

	/*BASICS */

	.CodeMirror {
	  /* Set height, width, borders, and global font properties here */
	  font-family: monospace;
	  height: 300px;
	  color: black;
	  direction: ltr;
	}

	/* PADDING */

	.CodeMirror-lines {
	  padding: 4px 0; /* Vertical padding around content */
	}
	.CodeMirror pre {
	  padding: 0 4px; /* Horizontal padding of content */
	}

	.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
	  background-color: white; /* The little square between H and V scrollbars */
	}

	/* GUTTER */

	.CodeMirror-gutters {
	  border-right: 1px solid #ddd;
	  background-color: #f7f7f7;
	  white-space: nowrap;
	}
	.CodeMirror-linenumbers {}
	.CodeMirror-linenumber {
	  padding: 0 3px 0 5px;
	  min-width: 20px;
	  text-align: right;
	  color: #999;
	  white-space: nowrap;
	}

	.CodeMirror-guttermarker { color: black; }
	.CodeMirror-guttermarker-subtle { color: #999; }

	/* CURSOR */

	.CodeMirror-cursor {
	  border-left: 1px solid black;
	  border-right: none;
	  width: 0;
	}
	/* Shown when moving in bi-directional text */
	.CodeMirror div.CodeMirror-secondarycursor {
	  border-left: 1px solid silver;
	}
	.cm-fat-cursor .CodeMirror-cursor {
	  width: auto;
	  border: 0 !important;
	  background: #7e7;
	}
	.cm-fat-cursor div.CodeMirror-cursors {
	  z-index: 1;
	}
	.cm-fat-cursor-mark {
	  background-color: rgba(20, 255, 20, 0.5);
	  -webkit-animation: blink 1.06s steps(1) infinite;
	  -moz-animation: blink 1.06s steps(1) infinite;
	  animation: blink 1.06s steps(1) infinite;
	}
	.cm-animate-fat-cursor {
	  width: auto;
	  border: 0;
	  -webkit-animation: blink 1.06s steps(1) infinite;
	  -moz-animation: blink 1.06s steps(1) infinite;
	  animation: blink 1.06s steps(1) infinite;
	  background-color: #7e7;
	}
	@-moz-keyframes blink {
	  0% {}
	  50% { background-color: transparent; }
	  100% {}
	}
	@-webkit-keyframes blink {
	  0% {}
	  50% { background-color: transparent; }
	  100% {}
	}
	@keyframes blink {
	  0% {}
	  50% { background-color: transparent; }
	  100% {}
	}

	/* Can style cursor different in overwrite (non-insert) mode */
	.CodeMirror-overwrite .CodeMirror-cursor {}

	.cm-tab { display: inline-block; text-decoration: inherit; }

	.CodeMirror-rulers {
	  position: absolute;
	  left: 0; right: 0; top: -50px; bottom: -20px;
	  overflow: hidden;
	}
	.CodeMirror-ruler {
	  border-left: 1px solid #ccc;
	  top: 0; bottom: 0;
	  position: absolute;
	}

	/* DEFAULT THEME */

	.cm-s-default .cm-header {color: blue;}
	.cm-s-default .cm-quote {color: #090;}
	.cm-negative {color: #d44;}
	.cm-positive {color: #292;}
	.cm-header, .cm-strong {font-weight: bold;}
	.cm-em {font-style: italic;}
	.cm-link {text-decoration: underline;}
	.cm-strikethrough {text-decoration: line-through;}

	.cm-s-default .cm-keyword {color: #708;}
	.cm-s-default .cm-atom {color: #219;}
	.cm-s-default .cm-number {color: #164;}
	.cm-s-default .cm-def {color: #00f;}
	.cm-s-default .cm-variable,
	.cm-s-default .cm-punctuation,
	.cm-s-default .cm-property,
	.cm-s-default .cm-operator {}
	.cm-s-default .cm-variable-2 {color: #05a;}
	.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
	.cm-s-default .cm-comment {color: #a50;}
	.cm-s-default .cm-string {color: #a11;}
	.cm-s-default .cm-string-2 {color: #f50;}
	.cm-s-default .cm-meta {color: #555;}
	.cm-s-default .cm-qualifier {color: #555;}
	.cm-s-default .cm-builtin {color: #30a;}
	.cm-s-default .cm-bracket {color: #997;}
	.cm-s-default .cm-tag {color: #170;}
	.cm-s-default .cm-attribute {color: #00c;}
	.cm-s-default .cm-hr {color: #999;}
	.cm-s-default .cm-link {color: #00c;}

	.cm-s-default .cm-error {color: #f00;}
	.cm-invalidchar {color: #f00;}

	.CodeMirror-composing { border-bottom: 2px solid; }

	/* Default styles for common addons */

	div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
	div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
	.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
	.CodeMirror-activeline-background {background: #e8f2ff;}

	/* STOP */

	/* The rest of this file contains styles related to the mechanics of
	   the editor. You probably shouldn't touch them. */

	.CodeMirror {
	  position: relative;
	  overflow: hidden;
	  background: white;
	}

	.CodeMirror-scroll {
	  overflow: scroll !important; /* Things will break if this is overridden */
	  /* 30px is the magic margin used to hide the element's real scrollbars */
	  /* See overflow: hidden in .CodeMirror */
	  margin-bottom: -30px; margin-right: -30px;
	  padding-bottom: 30px;
	  height: 100%;
	  outline: none; /* Prevent dragging from highlighting the element */
	  position: relative;
	}
	.CodeMirror-sizer {
	  position: relative;
	  border-right: 30px solid transparent;
	}

	/* The fake, visible scrollbars. Used to force redraw during scrolling
	   before actual scrolling happens, thus preventing shaking and
	   flickering artifacts. */
	.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
	  position: absolute;
	  z-index: 6;
	  display: none;
	}
	.CodeMirror-vscrollbar {
	  right: 0; top: 0;
	  overflow-x: hidden;
	  overflow-y: scroll;
	}
	.CodeMirror-hscrollbar {
	  bottom: 0; left: 0;
	  overflow-y: hidden;
	  overflow-x: scroll;
	}
	.CodeMirror-scrollbar-filler {
	  right: 0; bottom: 0;
	}
	.CodeMirror-gutter-filler {
	  left: 0; bottom: 0;
	}

	.CodeMirror-gutters {
	  position: absolute; left: 0; top: 0;
	  min-height: 100%;
	  z-index: 3;
	}
	.CodeMirror-gutter {
	  white-space: normal;
	  height: 100%;
	  display: inline-block;
	  vertical-align: top;
	  margin-bottom: -30px;
	}
	.CodeMirror-gutter-wrapper {
	  position: absolute;
	  z-index: 4;
	  background: none !important;
	  border: none !important;
	}
	.CodeMirror-gutter-background {
	  position: absolute;
	  top: 0; bottom: 0;
	  z-index: 4;
	}
	.CodeMirror-gutter-elt {
	  position: absolute;
	  cursor: default;
	  z-index: 4;
	}
	.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
	.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

	.CodeMirror-lines {
	  cursor: text;
	  min-height: 1px; /* prevents collapsing before first draw */
	}
	.CodeMirror pre {
	  /* Reset some styles that the rest of the page might have set */
	  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	  border-width: 0;
	  background: transparent;
	  font-family: inherit;
	  font-size: inherit;
	  margin: 0;
	  white-space: pre;
	  word-wrap: normal;
	  line-height: inherit;
	  color: inherit;
	  z-index: 2;
	  position: relative;
	  overflow: visible;
	  -webkit-tap-highlight-color: transparent;
	  -webkit-font-variant-ligatures: contextual;
	  font-variant-ligatures: contextual;
	}
	.CodeMirror-wrap pre {
	  word-wrap: break-word;
	  white-space: pre-wrap;
	  word-break: normal;
	}

	.CodeMirror-linebackground {
	  position: absolute;
	  left: 0; right: 0; top: 0; bottom: 0;
	  z-index: 0;
	}

	.CodeMirror-linewidget {
	  position: relative;
	  z-index: 2;
	  padding: 0.1px; /* Force widget margins to stay inside of the container */
	}

	.CodeMirror-widget {}

	.CodeMirror-rtl pre { direction: rtl; }

	.CodeMirror-code {
	  outline: none;
	}

	/* Force content-box sizing for the elements where we expect it */
	.CodeMirror-scroll,
	.CodeMirror-sizer,
	.CodeMirror-gutter,
	.CodeMirror-gutters,
	.CodeMirror-linenumber {
	  -moz-box-sizing: content-box;
	  box-sizing: content-box;
	}

	.CodeMirror-measure {
	  position: absolute;
	  width: 100%;
	  height: 0;
	  overflow: hidden;
	  visibility: hidden;
	}

	.CodeMirror-cursor {
	  position: absolute;
	  pointer-events: none;
	}
	.CodeMirror-measure pre { position: static; }

	div.CodeMirror-cursors {
	  visibility: hidden;
	  position: relative;
	  z-index: 3;
	}
	div.CodeMirror-dragcursors {
	  visibility: visible;
	}

	.CodeMirror-focused div.CodeMirror-cursors {
	  visibility: visible;
	}

	.CodeMirror-selected { background: #d9d9d9; }
	.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
	.CodeMirror-crosshair { cursor: crosshair; }
	.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
	.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

	.cm-searching {
	  background-color: #ffa;
	  background-color: rgba(255, 255, 0, .4);
	}

	/* Used to force a border model for a node */
	.cm-force-border { padding-right: .1px; }

	@media print {
	  /* Hide the cursor when printing */
	  .CodeMirror div.CodeMirror-cursors {
	    visibility: hidden;
	  }
	}

	/* See issue #2901 */
	.cm-tab-wrap-hack:after { content: ''; }

	/* Help users use markselection to safely style text background */
	span.CodeMirror-selectedtext { background: none; }


	.CodeMirror-hints {
	  position: absolute;
	  z-index: 10;
	  overflow: hidden;
	  list-style: none;

	  margin: 0;
	  padding: 2px;

	  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
	  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
	  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
	  border-radius: 3px;
	  border: 1px solid silver;

	  background: white;
	  font-size: 90%;
	  font-family: monospace;

	  max-height: 20em;
	  overflow-y: auto;
	}

	.CodeMirror-hint {
	  margin: 0;
	  padding: 0 4px;
	  border-radius: 2px;
	  white-space: pre;
	  color: black;
	  cursor: pointer;
	}

	li.CodeMirror-hint-active {
	  background: #08f;
	  color: white;
	}

	.CodeMirror-foldmarker {
	  color: blue;
	  text-shadow: #b9f 1px 1px 2px, #b9f -1px -1px 2px, #b9f 1px -1px 2px, #b9f -1px 1px 2px;
	  font-family: arial;
	  line-height: .3;
	  cursor: pointer;
	}
	.CodeMirror-foldgutter {
	  width: .7em;
	}
	.CodeMirror-foldgutter-open,
	.CodeMirror-foldgutter-folded {
	  cursor: pointer;
	}
	.CodeMirror-foldgutter-open:after {
	  content: "\25BE";
	}
	.CodeMirror-foldgutter-folded:after {
	  content: "\25B8";
	}

	.CodeMirror-fullscreen {
	  position: fixed;
	  top: 0; left: 0; right: 0; bottom: 0;
	  height: auto;
	  z-index: 9;
	}


	/*

	    Name:       material
	    Author:     Michael Kaminsky (http://github.com/mkaminsky11)

	    Original material color scheme by Mattia Astorino (https://github.com/equinusocio/material-theme)

	*/

	.cm-s-material.CodeMirror {
	  background-color: #263238;
	  color: rgba(233, 237, 237, 1);
	}
	.cm-s-material .CodeMirror-gutters {
	  background: #263238;
	  color: rgb(83,127,126);
	  border: none;
	}
	.cm-s-material .CodeMirror-guttermarker, .cm-s-material .CodeMirror-guttermarker-subtle, .cm-s-material .CodeMirror-linenumber { color: rgb(83,127,126); }
	.cm-s-material .CodeMirror-cursor { border-left: 1px solid #f8f8f0; }
	.cm-s-material div.CodeMirror-selected { background: rgba(255, 255, 255, 0.15); }
	.cm-s-material.CodeMirror-focused div.CodeMirror-selected { background: rgba(255, 255, 255, 0.10); }
	.cm-s-material .CodeMirror-line::selection, .cm-s-material .CodeMirror-line > span::selection, .cm-s-material .CodeMirror-line > span > span::selection { background: rgba(255, 255, 255, 0.10); }
	.cm-s-material .CodeMirror-line::-moz-selection, .cm-s-material .CodeMirror-line > span::-moz-selection, .cm-s-material .CodeMirror-line > span > span::-moz-selection { background: rgba(255, 255, 255, 0.10); }

	.cm-s-material .CodeMirror-activeline-background { background: rgba(0, 0, 0, 0); }
	.cm-s-material .cm-keyword { color: rgba(199, 146, 234, 1); }
	.cm-s-material .cm-operator { color: rgba(233, 237, 237, 1); }
	.cm-s-material .cm-variable-2 { color: #80CBC4; }
	.cm-s-material .cm-variable-3, .cm-s-material .cm-type { color: #82B1FF; }
	.cm-s-material .cm-builtin { color: #DECB6B; }
	.cm-s-material .cm-atom { color: #F77669; }
	.cm-s-material .cm-number { color: #F77669; }
	.cm-s-material .cm-def { color: rgba(233, 237, 237, 1); }
	.cm-s-material .cm-string { color: #C3E88D; }
	.cm-s-material .cm-string-2 { color: #80CBC4; }
	.cm-s-material .cm-comment { color: #546E7A; }
	.cm-s-material .cm-variable { color: #82B1FF; }
	.cm-s-material .cm-tag { color: #80CBC4; }
	.cm-s-material .cm-meta { color: #80CBC4; }
	.cm-s-material .cm-attribute { color: #FFCB6B; }
	.cm-s-material .cm-property { color: #80CBAE; }
	.cm-s-material .cm-qualifier { color: #DECB6B; }
	.cm-s-material .cm-variable-3, .cm-s-material .cm-type { color: #DECB6B; }
	.cm-s-material .cm-tag { color: rgba(255, 83, 112, 1); }
	.cm-s-material .cm-error {
	  color: rgba(255, 255, 255, 1.0);
	  background-color: #EC5F67;
	}
	.cm-s-material .CodeMirror-matchingbracket {
	  text-decoration: underline;
	  color: white !important;
	}
