body {
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 1rem;
	font-weight: 400;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

.left {
	float: left;
}

.right {
	float: right;
}

#sign {
	color: #fff;
	font: 14px;
	line-height: 1.45em;
	text-shadow: 0 1px 2px rgba(34,0,1,0.6);
	height: 180px;
	width: 180px;
	position:fixed;
	top:35px;
	left:240px;
	z-index: 4;
}

#popup {
	color: #fff;
	font: 14px "Bree Rg",sans-serif;
	line-height: 1.45em;
	text-shadow: 0 1px 2px rgba(34,0,1,0.6);
	background-image: url('id-default.png');
	height: 180px;
	width: 180px;
	padding: 68px 25px 0;
	position:fixed;
	top:35px;
	left:380px;
	z-index: 4;
}

div.upper-left {
	position: absolute;
	top:10px;
	left:10px;
	width:200px;
}
div.upper-right {
	position: absolute;
	top:10px;
	right:10px;
	width:200px;
}

div.lower-left {
	margin:10px;
	position: absolute;
	bottom:10px;
	left:10px;
	width:200px;
}

div.lower-right {
	position: absolute;
	bottom:10px;
	right:10px;
	width:200px;
}

.zoom11 {
    transform: scale(1.1);
		opacity:.5;
}

/* layout */
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: lightgrey;
}

#universe {
	width: 99%;
	height: 100%;
	padding-right: 1px;
	padding-left: 1px;
	margin-right: auto;
	margin-left: auto;
	z-index:10;
}

div.render-scene {
	width: 100%;
	height: 100%;
}

svg {
	width: 100%;
	height: 100%;
}

.toolbox {
	padding: 5px;
	z-index:100;
	opacity:.8;
	background-color: white;
}

.toolbox-header > p {
	font-size: .9rem;
	font-weight: bold;
	margin-top: 1em;
}

div.cols-two {
	column-count: 2;
	column-gap: 5px;
  /*column-rule: 1px solid coral;*/
}

div.closed > .toolbox-header {
	background-image: url(icon-open.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: auto .4rem;
}

div.opened > .toolbox-header {
	background-image: url(icon-close.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: auto .4rem;
}

.toolbox-body > p {
	font-size: .8rem;
}

 div.closed > .toolbox-body{
	display: none;
}
/*user form*/
form {
	font-size: .7rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

textarea {
    overflow: auto;
    resize: vertical;
}

/*error div management*/
.alert {
    position: relative;
    padding: .5rem .7rem;
    margin-bottom: .7rem;
    border: 1px solid transparent;
    border-radius: .25rem;
		font-size: .7rem;
		display: none;
}
.alert-success {
		display: block;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-warning {
		display: block;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert-danger {
		display: block;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/*slider*/
label.slider {
	display: inline-block;
	width: 240px;
	text-align: right
}
/*btn*/
button {
	margin: 0;
	margin-top: 5px;
	font-family: inherit;
}

button, input[type="submit"], .btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: .8rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	margin-right: 5px;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #5bc0de;
}

.btn-info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

.btn.disabled, .btn:disabled {
    opacity: .65;
}

/*tab elements currently unused*/
td , th {
	font-size: .5rem;
	padding : 2px 4px ;
	border : 1px grey solid ;
	}

table {
	border-collapse:collapse;
	border : 2px grey solid;
	}

	/*badges*/
	.badge-planar {
	    color: #fff;
	    background-color: #28a745;
	}
	.badge-spheric {
	    color: darkgrey;
	    background-color: lightgrey;
	}
	.badge-hyperbolic {
			color: #fff;
			background-color: #6c757d;
	}
	.badge-pill {
	    padding-right: .6em;
	    padding-left: .6em;
	    border-radius: 10rem;
	}
	.badge {
	    margin: 1px;
	    display: inline-block;
	    padding: .25em .4em;
	    font-size: 75%;
	    font-weight: 400;
	    line-height: 1;
	    text-align: center;
	    white-space: nowrap;
	    vertical-align: baseline;
	    border-radius: .25rem;
	}
	.badge-clickable {
		cursor:pointer;
	}
	.badge-notif {
	    margin-left: 1px;
	    vertical-align: super;
	    color: white;
	    background-color: inherit;
	}
	.badge.selected , .badge-clickable:hover {
			background-color: black;
	    color: white;
	}
