/* slider ------------------------------ */

.ticks {
  font-size: .5rem;
  font-weight: 100;
  pointer-events: none;
  user-select: none;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.evts {
  stroke: none;
  fill: black;
  opacity:.5;
}

.track {
  stroke: black;
  stroke-width: 3px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
}

.sel-range{
  stroke: #8BC34B;
  stroke-width: 3px;
  cursor: grab;
}

.sel-range:active{
  stroke: tomato;
  stroke-width: 4px;
}

.ghandle {
  fill: none;
}

.handle {
  fill: #8BC34B;
  stroke: none;
  cursor: grab;
}
.handle:hover{
	fill: #B2EBF2;
}
.handle.active {
  fill: black;
  cursor: grabbing;
}
circle.handle-label {
  fill: black;
  stroke: none;
  opacity: .8;
}
polygon.handle-label {
  fill: black;
  stroke: none;
  opacity: .8;
}
text.handle-label {
  font-size: .6rem;
  font-weight: normal;
  fill:white;
}
